(tlsconfig) {
    tls ${TLS_EMAIL} {
        ca {$TLS_CA}
        dns cloudflare
        wildcard
    }
}

*.{$ROOT_DOMAIN} {
    tls off
    # import tlsconfig
}


realtime-poll.{$ROOT_DOMAIN} {

    proxy /v1 realtime-poll-hge:8080
    proxy /console realtime-poll-hge:8080
    proxy /v1alpha1 realtime-poll-hge:8080 { websocket }
    proxy / realtime-poll-ui:8080

}

realtime-chat.{$ROOT_DOMAIN} {

    proxy /v1 realtime-chat-hge:8080
    proxy /console realtime-chat-hge:8080
    proxy /v1alpha1 realtime-chat-hge:8080 { websocket }
    proxy / realtime-chat-ui:8080

}

realtime-location-tracking.{$ROOT_DOMAIN} {

    proxy /v1 realtime-location-tracking-hge:8080
    proxy /console realtime-location-tracking-hge:8080
    proxy /v1alpha1 realtime-location-tracking-hge:8080 { websocket }
    proxy / realtime-location-tracking-ui:8080

}

react-apollo-todo.{$ROOT_DOMAIN} {

    proxy /v1 react-apollo-todo-hge:8080
    proxy /console react-apollo-todo-hge:8080
    proxy /v1alpha1 react-apollo-todo-hge:8080 { websocket }
    proxy / react-apollo-todo-ui:8080

}

serverless-push.{$ROOT_DOMAIN} {

    proxy /v1 serverless-push-hge:8080
    proxy /console serverless-push-hge:8080
    proxy /v1alpha1 serverless-push-hge:8080 { websocket }
    proxy / serverless-push-ui:80

}

serverless-etl.{$ROOT_DOMAIN} {

    proxy /v1 serverless-etl-hge:8080
    proxy /console serverless-etl-hge:8080
    proxy /v1alpha1 serverless-etl-hge:8080 { websocket }
    proxy / serverless-etl-ui:80

}